<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="hello\static\style.css">
</head>
<body>


<header class="header">
	<div class="container">
		<div class="header__inner">
			
			<nav class="nav">
				<a class="nav__link" href="#">Страны</a>
				<a class="nav__link" href="#">Путеводитель</a>
				<a class="nav__link" href="#">Новости</a>
				<a class="nav__link" href="#">Афиша</a>
				<a class="nav__link" href="#">Маршруты</a>
			</nav>
		</div>
	</div>
</header>

<div class="main">
	<div class="container">
		<div class="main_inner">
		<h1 class="main_title">Идеи для 

		ваших путешествий</h1>
	</div>
</div>
</div>
	
	<section class="section">
	<div class="container">
		<div class="section_header">
			<h3 class="section_suptitle">
				Выбери страну для своего идеального путешествия
			</h3>
			<h2 class="section_title">
				
			</h2>
			<div  class="section_text">
				<p>Список самых интересных и красивых европейских стран.
				Начиная своё путешествие и отдых с посещения данных государств Европы,</p> 
			<p>вы никогда не пожалеете, что решили устроить тур в эту часть Старого Света.</p>
			</div>
		</div>
		

		<div class="about">
			<div class="about_item">
				<a href="#"><div class="about_img">
					<img src="img/about1.jpg">
				</div>
				<div class="about_text"> Италия</div></a>
			</div>

			<div class="about_item">
				<a href="#"><div class="about_img">
					<img src="img/about2.jpg">
				</div>
			<div class="about_text"> Франция</div></a>
		</div>

			<div class="about_item">
			<a href="#"><div class="about_img">
					<img src="img/about3.jpg">
				</div>
				<div class="about_text"> Норвегия</div></a>
			</div>
			</div>

		<div class="about">
			<div class="about_item">
				<a href="#"><div class="about_img">
					<img src="img/about4.jpg">
				</div>
			<div class="about_text"> Испания</div></a>
		</div>

			<div class="about_item">
				<a href="#"><div class="about_img">
					<img src="img/about6.jpg">
				</div>
				<div class="about_text"> Великобритания</div></a>
			</div>

			<div class="about_item">
			<a href="#"><div class="about_img">
					<img src="img/about5.jpg">
				</div>
				<div class="about_text"> Германия</div></a>
			</div>
			</div>
		</div><!-- container-->
	</div>	

	</section>
</body>
</html>