{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Travelling</title>
	<title>Document</title>
	<link rel="stylesheet" href="../../static/hello/style.css">
</head>
<body>


<header class="header">
	<div class="container">
		<div class="header__inner">
			
			<nav class="nav">
				<a class="nav__link" href="#">Страны</a>
				<a class="nav__link" href="#">Путеводитель</a>
				<a class="nav__link" href="#">Новости</a>
				<a class="nav__link" href="#">Афиша</a>
				<a class="nav__link" href="#">Маршруты</a>
			</nav>
		</div>
	</div>
</header>

<div class="main">
	<div class="container">
		<div class="main_inner">
		<h1 class="main_title">Идеи для 

		ваших путешествий</h1>
	</div>
</div>
</div>
	
	<section class="section">
	<div class="container">
		<div class="section_header">
			<h3 class="section_suptitle">
				Выбери страну для своего идеального путешествия
			</h3>
			<h2 class="section_title">
				
			</h2>
			<div  class="section_text">
				<p>Список самых интересных и красивых европейских стран.
				Начиная своё путешествие и отдых с посещения данных государств Европы,</p> 
			<p>вы никогда не пожалеете, что решили устроить тур в эту часть Старого Света.</p>
			</div>
		</div>
		

		<div class="about">
			<div class="about_item">
				<a href="{% url 'country' 'Италия' %}"><div class="about_img">
					<img src="{% static 'hello/images/about1.jpg' %}">
				</div>
				<div class="about_text"> Италия</div></a>
			</div>

			<div class="about_item">
				<a href="{% url 'country' 'Франция' %}"><div class="about_img">
					<img src="{% static 'hello/images/about2.jpg' %}">
				</div>
			<div class="about_text"> Франция</div></a>
		</div>

			<div class="about_item">
			<a href="{% url 'country' 'Норвегия' %}"><div class="about_img">
					<img src="{% static 'hello/images/about3.jpg' %}">
				</div>
				<div class="about_text"> Норвегия</div></a>
			</div>
			</div>

		<div class="about">
			<div class="about_item">
				<a href="{% url 'country' 'Испания' %}"><div class="about_img">
					<img src="{% static 'hello/images/about4.jpg' %}">
				</div>
			<div class="about_text"> Испания</div></a>
		</div>

			<div class="about_item">
				<a href="{% url 'country' 'Великобритания' %}"><div class="about_img">
					<img src="{% static 'hello/images/about5.jpg' %}">
				</div>
				<div class="about_text"> Великобритания</div></a>
			</div>

			<div class="about_item">
			<a href="{% url 'country' 'Германия' %}"><div class="about_img">
					<img src="{% static 'hello/images/about6.jpg' %}">
				</div>
				<div class="about_text"> Германия</div></a>
			</div>
			</div>
			<div class="about">
				<div class="about_item">
					<a href="{% url 'country' 'Австрия' %}"><div class="about_img">
						<img src="{% static 'hello/images/about1.jpg' %}">
					</div>
					<div class="about_text"> Австрия</div></a>
				</div>
	
				<div class="about_item">
					<a href="{% url 'country' 'Исландия' %}"><div class="about_img">
						<img src="{% static 'hello/images/about2.jpg' %}">
					</div>
				<div class="about_text"> Исландия</div></a>
			</div>
	
				<div class="about_item">
				<a href="{% url 'country' 'Чехия' %}"><div class="about_img">
						<img src="{% static 'hello/images/about3.jpg' %}">
					</div>
					<div class="about_text"> Чехия</div></a>
				</div>
				</div>
				<div class="about">
					<div class="about_item">
						<a href="{% url 'country' 'Сербия' %}"><div class="about_img">
							<img src="{% static 'hello/images/about1.jpg' %}">
						</div>
						<div class="about_text"> Сербия</div></a>
					</div>
		
					<div class="about_item">
						<a href="{% url 'country' 'Монако' %}"><div class="about_img">
							<img src="{% static 'hello/images/about2.jpg' %}">
						</div>
					<div class="about_text"> Монако</div></a>
				</div>
		
					<div class="about_item">
					<a href="{% url 'country' 'Нидерланды' %}"><div class="about_img">
							<img src="{% static 'hello/images/about3.jpg' %}">
						</div>
						<div class="about_text"> Нидерланды</div></a>
					</div>
					</div>
		</div><!-- container-->
	</div>	
	</section>
	<div class="before_place">
		<div class="container_bef_place">
			<div class="main_inner_place">
		
		</div>
	</div>
	</div>
	
		<section class="section_place">
			<div class="container">
				<div class="section_header_place">
				<h3 class="section_suptitle_place">
					
				</h3>
				<h2 class="section_title_place">
					Самые популярные достопримечательности Европы
				</h2>
				
			</div>
			<div class="place">
				<a class="place_btn place_btn--prev" href="#">Prev</a>
				<a class="place_btn place_btn--next" href="#">Next</a>
	
	
				<div class="place_item">
					<div class="place_img">
						<img class="place_photo" src="{% static 'hello/images/main/sights/place1.jpg' %}">
						<div class="about_place">
					<h3 class="place_name">Замок Нойшванштайн</h3>
					<p class="place_text" ><b>Страна:</b> <a class="place_href"href="#">Германия</a></p>
					<p class="place_text"><b>Адрес: </b> Neuschwansteinstraße 20, 87645 Schwangau</p> 
					<p class="place_text"><b>Бавария: </b> Швангау</p>
					<p class="place_text"><b>Цена билета: </b> от 12 €</p>
					<p class="place_text"><b>Время работы: </b>ежедневно с 7.30. до 17.00</p>
				</div>
					</div>
					
				</div>
	
				<div class="place_item">
					<div class="place_img">
						<img class="place_photo" src="{% static 'hello/images/main/sights/place2.jpg' %}">
						<div class="about_place">
					<h3 class="place_name">Диснейленд</h3>
					<p class="place_text" ><b>Страна:</b> <a class="place_href"href="#">Франция</a></p>
					<p class="place_text"><b>Адрес: </b> Paris, 7777 Marne-la-Vallée</p> 
					<p class="place_text"><b>Город: </b> Париж</p>
					<p class="place_text"><b>Цена билета: </b>56 € - один день</p>
					<p class="place_text"><b>Время работы: </b> круглый год, с 10:00 до 19:00</p>
				</div>
					</div>
				
			</div>
	
				<div class="place_item">
				<div class="place_img">
						<img class="place_photo" src="{% static 'hello/images/main/sights/place3.jpg' %}">
						<div class="about_place">
					<h3 class="place_name">Лондонский Глаз</h3>
					<p class="place_text" ><b>Страна:</b> <a class="place_href"href="#">Великобритания</a></p>
					<p class="place_text"><b>Адрес: </b> The Queen's Walk, Bishop's, London SE1 7PB</p> 
					<p class="place_text"><b>Город: </b> Лондон</p>
					<p class="place_text"><b>Цена билета:</b>от 30 фунтов</p>
					<p class="place_text"><b>Время работы: </b> с 10:00 до 20:30</p>
				</div>
				
					</div>
					
				</div>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="container">
				<div class="section_header">
					<h3 class="section_suptitle"> Сервисы для путешествий</h3>
					<p class="section_title_service" >К хорошим путешествиям приходится долго готовиться. Мы собрали полезные сайты и сервисы, которые помогут сэкономить деньги и время, а также увидеть всё самое интересное в поездке. Просто забронируйте нужные услуги, перейдя по одной из ссылок ниже. </p>
					
				</div><!--section_header-->
		
				<div class="service">
		
					<a href="https://www.booking.com/?aid=363350" class="offerhref" target="_blank" rel="nofollow">
						
						<div class= "service_item"> 
						<div class="service_img">
							<img class="place_photo" src="{% static 'hello/images/main/service/service1.jpg' %}">
						</div>
					<div class="service_content">
						<p>Booking.com - самый популярный в мире интернет ресурс по бронированию отелей, гарантирует лучшие цены на любой тип недвижимости, начиная от кемпингов и заканчивая роскошными 5-звездочными отелями.</p>
					<p>
						Каждый день через сервис бронируют более 1 550 000 номероночей. На Booking.com путешественники могут мгновенно забронировать идеальный вариант проживания как для отдыха, так и для командировки. Комиссия за бронирование не взымается, а если клиент найдет более низкую цену, то разница возмещается. Гости могут связаться с командой поддержки Booking.com в любое время суток и получить помощь на более чем 40 языках.
					</p> 
				</div>
					</div></a>
		
					
					<a href="https://www.aviasales.ru/" class="offerhref" target="_blank" rel="nofollow">
						<div class= "service_item"> 
						<div class="service_img">
							<img class="place_photo" src="{% static 'hello/images/main/service/service2.jpg' %}">
						</div>
						<div class="service_content">
					<p>Aviasales.ru — первый и крупнейший в Рунете метапоиск дешевых авиабилетов. Сервис ищет авиабилеты в 728 авиакомпаниях, 200 авиакассах и 5 системах бронирования, используя наиболее современные технологии. Вы сами выбираете, где покупать. Инновационный нанопоиск авиабилетов найдет для Вас не только самый лучший вариант на конкретные даты, но и предложит другие даты, когда стоимость перелета может быть ещё ниже.</p> 
				</div>
				</div></a>
		
					<a href="https://hotellook.ru/" class="offerhref" target="_blank" rel="nofollow">
						<div class= "service_item"> 
						<div class="service_img">
							<img class="place_photo" src="{% static 'hello/images/main/service/service3.jpg' %}">
						</div> 
						<div class="service_content">
					<p>HotelLook.ru - сервис, позволяющий находить и сравнивать цены на отели по всему миру, предоставляемые ведущими системами бронирования. Проект HotelLook.ru создан в 2013 году креативной командой крупнейшего в России поисковика авиабилетов AviaSales.ru. Сегодня Hotellook.ru предоставляет собранную воедино информацию о более чем 250 000 отелях в 205 странах, работая с данными более 10 систем онлайн бронирования, таких как Booking.com, Agoda.com, Hotels.com, Expedia и др.</p>
					 </div>
					</div></a>
		
					<a href="https://experience.tripster.ru/?utm_campaign=affiliates&utm_medium=link&utm_source=wikiway" class="offerhref" target="_blank" rel="nofollow">
						<div class= "service_item"> 
						<div class="service_img">
							<img class="place_photo" src="{% static 'hello/images/main/service/service4.jpg' %}"">
						</div> 
						<div class="service_content"> 
					<p>Tripster.ru – сервис необычных экскурсий от местных жителей. Мы предлагаем более 1600 экскурсий в 220 городах мира.</p>
					<p>
						Наши экскурсии проводят люди, которые могут интересно и увлекательно рассказать о самом интересном в своих городах – дизайнеры, историки, искусствоведы, архитекторы, а также увлеченные своим делом гиды.
					</p>
					<p>
						Мы знакомимся со всеми своими авторами и помогаем им сделать экскурсии увлекательными и ценными для путешественников. Качество наших экскурсий – наш главный приоритет. 
					</p>
					  </div>
					</div></a>
		
					<a href="https://www.rentalcars.com/Home.do?affiliateCode=admitad&admitad_uid=04d959c3a945de5719d51d4d747cefec&adplat=04d959c3a945de5719d51d4d747cefec" class="offerhref" target="_blank" rel="nofollow">
						<div class= "service_item"> 
						<div class="service_img">
							<img class="place_photo" src="{% static 'hello/images/main/service/service5.jpg' %}">
						</div> 
						<div class="service_content"> 
					<p>Rentalcars.com – крупнейший в мире онлайн сервис по прокату автомобилей, который организует прокат в 160 странах и осуществляет поддержку на 40 языках. Работая только с лидирующими поставщиками, сервис предлагает отличные цены на все типы автомобилей, включая минивэны, роскошные авто класса люкс и автоматы. Многоязычный колл-центр открыт 7 дней в неделю, поэтому rentalcars может найти для вас прокат по лучшим ценам в любое время и любом месте.</p> 
				 </div>
					</div></a>
		
		
					<a href="https://level.travel/?utm_source=Travelpayouts&utm_medium=CPA&utm_content=22785&utm_campaign=tpo&aflt=Travelpayouts&l=cd73c5e0839c4aa2b2cd66fbe5-22785&affmarker=22785" class="offerhref" target="_blank" rel="nofollow">
						<div class= "service_item"> 
						<div class="service_img">
							<img class="place_photo" src="{% static 'hello/images/main/service/service6.jpg' %}">
						</div> 
						<div class="service_content">
					<p>Level.Travel — это автоматизированная система поиска туров от всех надежных туроператоров и их покупки в режиме онлайн, без участия турагента. Система позволяет купить тур по аналогии с покупкой авиабилетов или бронированием отелей онлайн.</p> 
					<p>8 из 10 выезжающих сегодня из России туристов покупают для поездки тур, который состоит из комплекта, включающего авиаперелет, трансфер из аэропорта до отеля и обратно, проживание и питание в отеле, а также медицинскую страховку. Система Level.travel интегрирована напрямую с ведущими туроператорами России, поэтому все цены на сайте на 100% финальны и актуальны и все туры доступны для бронирования онлайн (без звонков в колл-центр). Благодаря обработке поисковых запросов клиентов в реальном времени система делает доступными для туристов уникально низкие цены на туры в тысячи отелей Египта, Таиланда, Турции, ОАЭ, Кипра, Доминиканы, Сейшел, Хайнаня и других мировых курортов.
					</p>
					<p>
						Главный приоритет компании Level Travel — качественное обслуживание клиентов. Автоматизированная система оповещений по SMS и электронной почте держит клиентов в курсе всех изменений по заказу. Система не забудет, когда турист улетает, вовремя сообщит о подтверждении отеля или переносе рейса, а также уточнит актуальную полетную информацию за сутки до вылета.
					</p>
					</div>
					</div></a>
		
					<a href="https://travelata.ru/?sub_id=8f9aca9f6a6f40e5a604f2e4e0-22785&utm_medium=cpa&utm_source=advcake&utm_campaign=travelpayout&advcake=1&utm_content=22785&utm_term=771" class="offerhref" target="_blank" rel="nofollow">
						<div class= "service_item"> 
						<div class="service_img">
							<img class="place_photo" src="{% static 'hello/images/main/service/service7.jpg' %}">
						</div> 
						<div class="service_content"> 
					<p>Travelata.ru – это поиск самых выгодных туров. К проекту подключено более 120 туроператоров, и Травелата гарантирует, что эти туры можно купить по самым выгодным условиям. Партнерами Travelata.ru являются только самые крупные и надежные туроператоры, поэтому можно быть уверенным в качестве предлагаемых туров.</p> 
					</div>
					</div></a>
		
		
					<a href="https://www.onlinetours.ru/?advert=196&utm_medium=cpa&utm_source=travelpayouts&utm_campaign=22785&sub_id=2fcecb726d4849ad8d7bbc1e38-22785" class="offerhref" target="_blank" rel="nofollow">
						<div class= "service_item"> 
						<div class="service_img">
							<img class="place_photo" src="{% static 'hello/images/main/service/service8.jpg' %}">
						</div> 
						<div class="service_content"> 
					<p>Onlinetours – популярный онлайн-сервис по продаже туров от ведущих туроператоров, более чем в 80 стран мира. Миллионы турпакетов, в которые входят авиабилеты, проживание в отеле, медицинская страховка и трансфер.</p> 
					<p>
						Найти подходящий тур можно в два клика с помощью удобной системы поиска. Исчерпывающая информация об отелях – описание, фото, видео и отзывы отдыхающих – помогают сделать выбор ещё быстрее.
					</p>
					<p>
						Сервис поможет с изготовлением виз, напечатает и доставит документы, предложит путеводители. Профессиональные менеджеры ответят на любой вопрос по поводу подбора или покупки тура. За тем, чтобы путешествие было на 100% беззаботным, зорко следит отдел сервиса.
					</p>
					</div>
					</div></a>
		
					<a href="https://autobus.travel/?utm_source=travelpayouts&sub_id=a8ce4f6f39e148bf9ccbd7bfc9-22785" class="offerhref" target="_blank" rel="nofollow">
						<div class= "service_item"> 
						<div class="service_img">
							<img class="place_photo" src="{% static 'hello/images/main/service/service9.jpg' %}">
						</div> 
						<div class="service_content"> 
					<p>FlixBus предлагает безопасные и комфортные поездки дальнего следования по Европе. Компания FlixBus предлагает пассажирам с любым бюджетом современный, доступный и удобный способ путешествовать. С момента основания в 2013 г. FlixBus создала крупнейшую транспортную сеть в Европе, охватывающую 26 стран и обслуживающую более 60 млн. пассажиров. Благодаря развитию технологий мы кардинально усовершенствовали сферу автобусных перевозок: создали систему электронных билетов, разработали приложение FlixBus, оснастили автобусы бесплатным Wi-Fi и внедрили систему отслеживания в реальном времени на основе GPS. Сеть FlixBus обслуживается партнерами-перевозчиками, в число которых входят малые и средние компании.</p> 
					</div>
					</div></a>
		
					<a href="https://www.thetrainline.com/?phcode=1101l17151.&utm_campaign=travelpayouts&utm_medium=affiliate&utm_source=network&cm=0a1e.1101l17151&phcam=1100l229&~campaign_id=1100l229&~click_id=1101l8gxjbHd" class="offerhref" target="_blank" rel="nofollow">
						<div class= "service_item"> 
						<div class="service_img">
							<img class="place_photo" src="{% static 'hello/images/main/service/service10.jpg' %}">
						</div> 
						<div class="service_content"> 
					<p>Trainline.com — популярный сайт и мобильное приложение для бронирования ж/д и автобусных билетов по Европе. Компания работает с 209 железнодорожными и автобусными компаниями, и предлагает клиентам тысячи маршрутов по 45 странам. 
					Компания ставит перед собой цель — в реальном времени и в простой форме предоставить клиенту информацию о предстоящей поездке, объединяя вместе поездку на поезде или автобусе с другими туристическими услугами.</p> 
					</div>
					</div></a>
		
					<a href="https://www.compensair.com/ru/?utm_source=travelpayouts&utm_medium=affiliate&sub_id=50e7fbb235a34efe9c8259f4d2-22785" class="offerhref" target="_blank" rel="nofollow">
						<div class= "service_item"> 
						<div class="service_img">
							<img class="place_photo" src="{% static 'hello/images/main/service/service11.jpg' %}">
						</div> 
						<div class="service_content"> 
					<p>Compensair помогает получить до 600 евро за задержку, отмену или овербукинг. Сервис работает в рамках законодательства ЕС и Турции.</p>
					<p>
						С Вашей стороны требуется не более 2 минут, чтобы проверить рейс, рассчитать потенциальную компенсацию и подать заявку. Всю бумажную работу мы берем на себя. Мы подготовим все необходимые документы, предъявим иск в авиакомпании и позаботимся обо всех дальнейших действиях.
					</p>
						</div>
					</div></a>
		
				</div> <!--service-->
			</div><!--container-->
		</section>
		
		<footer class="footer">
			<div class="container">
				<div class="footer__inner">
				<nav class="nav_footer">
						<a class="nav__link_footer" href="#">Страны</a>
						<a class="nav__link_footer" href="#">Путеводитель</a>
						<a class="nav__link_footer" href="#">Сервисы</a>
						<a class="nav__link_footer" href="https://wikiway.com/coronavirus/" target="_blank" rel="nofollow">Covid-19</a>
					</nav>
		</div>
		<div class="copyright">
			<ul class="about_pr">
			<li>© Travelling.</li>
			<li>Design: <a  class="about_li" href="http://html5up.net" target="_blank" rel="nofollow">HTML5 UP</a></li>
			</ul>
			</div>
			</div>
			
		</footer>
	
</body>
</html>