<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../../static/hello/style.css">
</head>
<body>


<header class="header">
	<div class="container">
		<div class="header__inner">
			
			<nav class="nav">
				<a class="nav__link" href="#">Страны</a>
				<a class="nav__link" href="#">Путеводитель</a>
				<a class="nav__link" href="#">Новости</a>
				<a class="nav__link" href="#">Афиша</a>
				<a class="nav__link" href="#">Маршруты</a>
			</nav>
		</div>
	</div>
</header>

<div class="main">
	<div class="container">
		<div class="main_inner">
		<h1 class="main_title">Идеи для 

		ваших путешествий</h1>
	</div>
</div>
</div>
	
	<section class="section">
	<div class="container">
		<div class="section_header">
			<h3 class="section_suptitle">
				Выбери страну для своего идеального путешествия
			</h3>
			<h2 class="section_title">
				
			</h2>
			<div  class="section_text">
				<p>Список самых интересных и красивых европейских стран.
				Начиная своё путешествие и отдых с посещения данных государств Европы,</p> 
			<p>вы никогда не пожалеете, что решили устроить тур в эту часть Старого Света.</p>
			</div>
		</div>
		

		<div class="about">
			<div class="about_item">
				<a href="#"><div class="about_img">
					<img src="img/about1.jpg">
				</div>
				<div class="about_text"> Италия</div></a>
			</div>

			<div class="about_item">
				<a href="#"><div class="about_img">
					<img src="img/about2.jpg">
				</div>
			<div class="about_text"> Франция</div></a>
		</div>

			<div class="about_item">
			<a href="#"><div class="about_img">
					<img src="img/about3.jpg">
				</div>
				<div class="about_text"> Норвегия</div></a>
			</div>
			</div>

		<div class="about">
			<div class="about_item">
				<a href="#"><div class="about_img">
					<img src="img/about4.jpg">
				</div>
			<div class="about_text"> Испания</div></a>
		</div>

			<div class="about_item">
				<a href="#"><div class="about_img">
					<img src="img/about6.jpg">
				</div>
				<div class="about_text"> Великобритания</div></a>
			</div>

			<div class="about_item">
			<a href="#"><div class="about_img">
					<img src="img/about5.jpg">
				</div>
				<div class="about_text"> Германия</div></a>
			</div>
			</div>
		</div><!-- container-->
	</div>	
	</section>
	<div class="before_place">
		<div class="container_bef_place">
			<div class="main_inner_place">
		
		</div>
	</div>
	</div>
	
		<section class="section_place">
			<div class="container">
				<div class="section_header_place">
				<h3 class="section_suptitle_place">
					
				</h3>
				<h2 class="section_title_place">
					Самые популярные достопримечательности Европы
				</h2>
				
			</div>
			<div class="place">
				<a class="place_btn place_btn--prev" href="#">Prev</a>
				<a class="place_btn place_btn--next" href="#">Next</a>
	
	
				<div class="place_item">
					<div class="place_img">
						<img class="place_photo" src="img/place1.jpg">
						<div class="about_place">
					<h3 class="place_name">Замок Нойшванштайн</h3>
					<p class="place_text" ><b>Страна:</b> <a class="place_href"href="#">Германия</a></p>
					<p class="place_text"><b>Адрес: </b> Neuschwansteinstraße 20, 87645 Schwangau</p> 
					<p class="place_text"><b>Бавария: </b> Швангау</p>
					<p class="place_text"><b>Цена билета: </b> от 12 €</p>
					<p class="place_text"><b>Время работы: </b>ежедневно с 7.30. до 17.00</p>
				</div>
					</div>
					
				</div>
	
				<div class="place_item">
					<div class="place_img">
						<img class="place_photo" src="img/place2.jpg">
						<div class="about_place">
					<h3 class="place_name">Диснейленд</h3>
					<p class="place_text" ><b>Страна:</b> <a class="place_href"href="#">Франция</a></p>
					<p class="place_text"><b>Адрес: </b> Paris, 7777 Marne-la-Vallée</p> 
					<p class="place_text"><b>Город: </b> Париж</p>
					<p class="place_text"><b>Цена билета: </b>56 € - один день</p>
					<p class="place_text"><b>Время работы: </b> круглый год, с 10:00 до 19:00</p>
				</div>
					</div>
				
			</div>
	
				<div class="place_item">
				<div class="place_img">
						<img class="place_photo" src="img/place3.jpg">
						<div class="about_place">
					<h3 class="place_name">Лондонский Глаз</h3>
					<p class="place_text" ><b>Страна:</b> <a class="place_href"href="#">Великобритания</a></p>
					<p class="place_text"><b>Адрес: </b> The Queen's Walk, Bishop's, London SE1 7PB</p> 
					<p class="place_text"><b>Город: </b> Лондон</p>
					<p class="place_text"><b>Цена билета:</b>от 30 фунтов</p>
					<p class="place_text"><b>Время работы: </b> с 10:00 до 20:30</p>
				</div>
				
					</div>
					
				</div>
				</div>
			</div>
		</section>
</body>
</html>